<div id="aboutMeMainBox" class="global-container">
    <div id="aboutMeLeftBox">
        <h1>Igor</h1>
        <h4 class="text-secondary">Software Engineer</h4>
        <p>
         Software Engineer focused on backend development using Java, Spring Boot, and PHP (Laravel), building scalable web applications and REST APIs.
        </p>
    </div>

    <img
        id="profilePic"
        ngSrc="assets/igor.jpg"
        class="rounded-circle border border-light shadow-lg border-5 profile-pic-img"
        alt="Igor"
        width="300"
        height="300"
        priority
    />
</div>
